@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500&family=Jost:wght@500;600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@500;600&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 95%;
    margin: auto;
}
.headersection{
    background-color: #343434;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 9;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li{
    list-style-type: none;
    padding:26px 50px 26px 25px;
}
.navbar ul{
    display:flex;
    justify-content: space-between;
    justify-content: center;
    font-family:inter;
    font-size: 15px;
}
.headermenu{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 14px;
}
.searchbox{
    background-color:white;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: none;
    outline-style: none;
    color: black;
    padding-left: 15px;
}

.searchicon,.carticon{
    padding-top: 25px;
}
.bannerimage{
    background-image: url(assets/images/bannerimage.png);
    background-size: cover;
    background-position:center;
    width: 100%;
    height:800px;    
}
.bannercontent{
    background-color: #353535;
    opacity: 80%;
    width: 350px;
    height: 250px;
    position: absolute;
    top: 420px;
    right: 150px;
}
.bannercontent{
    animation-name: slidinganimation;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 2;
}
@keyframes slidinganimation{
    from{
        right: 0px;        
    }
    to{
        right: 150px;
    }
}
.bannercontent h1{
    color: white;
    font-family:bebas neue;
    font-weight:lighter;
    font-size:45px;
    text-align: center;
    padding-top: 65px;
}
.bannercontent select{
    border: 2px solid white;
    border-radius: 8px;
    background-color: #343434;
    color: white;
    padding: 8px 10px 8px 20px;
    width: 75%;
    margin-left: 45px;
    font-size: 12px;
    outline-style: none;    
}

.brandsheading h1{
    color:black;
    font-family:bebas neue;
    font-weight:lighter;
    font-size:45px;
    padding-top: 65px;
    padding-left: 40px;
    text-align: center;
}
.brandsbackgroundone h2{
    font-family:inter;
    font-size: 32px;
    color: black;  
}
.brandsbackgroundone p{
    font-family: roboto;
    font-size:22px ;
    color: black;
}
.brandsbackgroundone h4{
    font-family: roboto;
    font-size: 25px;
    color: black;    
}
.brandsflexone{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.brandsubflexone{
    display: flex;
    gap: 10px;
    color: white;
    padding: 20px 0px;
}
.brandstarreview{
    padding: 20px 80px;
}
.starreview,.brandcolor{
    padding: 10px 0px;
}
.brandsubflexone p{
    text-decoration: line-through;
}
.btnone{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    border: none;    
}
.btntwo{
    height: 25px;
    width: 25px;
    background-color: #006299;
    border-radius: 50%;
    border: none;
}
.btnthree{
    height: 25px;
    width: 25px;
    background-color: #FF5C00;
    border-radius: 50%;
    border: 2px solid black;
}
.buttonsec{
    padding: 10px 80px;
}
.brandsbackgroundtwo p{
    font-family: roboto;
    font-size:22px ;
    color: white;
}
.brandsbackgrountwoh4{
    font-family: roboto;
    font-size: 25px;
    color: white;    
}
.brandsflextwo{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 0px;
}
.brandsubflextwo{
    display: flex;
    gap: 10px;
    color: white;
    padding: 20px 0px;
}
.brandstarreview{
    padding: 20px 0px;
}

.brandsubflextwo p{
    text-decoration: line-through;
}
.btnonesecond{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    border: none;    
}
.btntwosecond{
    height: 25px;
    width: 25px;
    background-color: #2A5A67;
    border-radius: 50%;
    border: none;
}
.btnthreesecond{
    height: 25px;
    width: 25px;
    background-color: #74DC34;
    border-radius: 50%;
    border: 2px solid black;
}
.buttonsec{
    padding: 10px 0px;
}
.brandsbackgroundthree p{
    font-family: roboto;
    font-size:22px ;
    color: white;
}
.brandsbackgroundthree h4{
    font-family: roboto;
    font-size: 25px;
    color: white;    
}
.brandsflexthree{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brandsubflexthree{
    display: flex;
    gap: 10px;
    color: white;
    padding: 20px 0px;
}
.brandstarreview{
    padding: 20px 80px;
}
.starreview ,.brandcolor{
    padding: 10px 0px;
}
.brandsubflexthree p{
    text-decoration: line-through;
}
.btnonethird{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    border: none;    
}
.btntwothird{
    height: 25px;
    width: 25px;
    background-color: #2A5A67;
    border-radius: 50%;
    border: none;
}
.btnthreethird{
    height: 25px;
    width: 25px;
    background-color: #FF5C00;
    border-radius: 50%;
    border: 2px solid black;
}

.brandsbackgroundfour p{
    font-family: roboto;
    font-size:22px ;
    color: white;
}
.brandsbackgroundfour h4{
    font-family: roboto;
    font-size: 25px;
    color: white;    
}
.brandsflexfour{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 0px;
}
.brandsubflexfour{
    display: flex;
    gap: 10px;
    color: white;
    padding: 15px 0px;
}

.brandsubflexfour p{
    text-decoration: line-through;
}
.btnonefour{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    border: none;    
}
.btntwofour{
    height: 25px;
    width: 25px;
    background-color:#74DC34;
    border-radius: 50%;
    border: none;
}
.btnthreefour{
    height: 25px;
    width: 25px;
    background-color: #006299;
    border-radius: 50%;
    border: 2px solid black;
}
.buttonsec{
    padding: 10px 0px;
}
.brandsabout{
    background-image: url(assets/images/brands/brands.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}
.brandslogosection{
    background-color: grey;
    height: auto;
}
.brandslogoheading h1{
    color:white;
    font-family:bebas neue;
    font-weight: lighter;
    font-size:45px;
    text-align: center;
    padding: 40px 0px;
}
.logoflexone{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}
.logoflexone p{
    font-family: roboto;
    font-size: 25px;
    color: white;
    text-align: center;
}
.logoflextwo{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 50px 0px;
}
.logoflextwo{
    font-family: roboto;
    font-size: 25px;
    color: white;
    text-align: center;
}
.servicesmainflex{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    text-align: center;
}
.servicesmainflex p{
    font-family: roboto;
    font-size: 25px;
    font-weight: bold;
    color:black;
}
.footersection{
    background-color: #343434;
    width: 100%;
    height: 300px;
}
.footerpart{
    display: flex;
    justify-content: space-between;
    color: white;    
}
.footerpart h3{
    font-family: inter;
    font-size:19px;
    font-weight: normal;
    margin-top: 40px;
}
.footerpart ul li{
    list-style-type: none;
    font-family: inter;
    font-size:15px;
    font-weight: normal;
    margin-top: 15px;
}
.footerfour ul li img{
    position: relative;
    top: 4px;
}
.footerparttwo p{
    font-family: inter;
    font-size:15px;
    font-weight: normal;    
    color: white;    
}
.footerparttwo{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;   
}
.socialicon{
    display: flex;
    gap: 24px;
}

/* Responsive */

@media screen and (max-width:575px){
    .main{
        overflow: hidden;
    }
    .headermenu{
        display: flex;
        justify-content: space-evenly;
    }
    .headersection{
        height: auto;
    }
    .logo{
        width: 50px;
    }
    .navbar ul{
        display: flex;
    }
    .navbar ul li{
        display: block;
        padding: 10px 5px;
    }
    .navbar ul li a{
        font-size: 8px;
    }
    .underline{
        display: none;
    }
    
    .searchicon{
       display: none;
    }
    .carticon{
        display: none;
    }
    .bannerimage{
        height: 237px;
        width: 100%;
    }
    .bannercontent h1{
        font-size: 20px;
        padding-top: 10px;
    }
    .bannercontent select{
        width: 78%;
        padding: 5px;
        margin-left: 18px;
        border: 1px solid white;
        border-radius: 3px;
        font-size: 6px;
    }
    .bannercontent{
        width: 150px;
        height: 80px;
        position: absolute;
        top: 129px;
        right: 46px;
    }
    @keyframes slidinganimation{
        0% {
            right: 0px;
        }
        100% {
            right: 50px;
        }
    }
    .brandsheading h1{
        font-size: 16px;
        padding: 10px 0px 0px 0px;
    }
    .brandsbackgroundone{
        height: auto;
    }
    .firstbrand img ,.secondbrand img ,.thirdbrand img ,.fourthbrand img{
        height: 130px;
        width: 130px;
    }    
    .brandsbackgroundone h2{
        font-size: 10px;
    }
    .brandsubflexone{
        padding: 0px;
        gap: 0px;
    }
    .brandsbackgroundone p{
        font-size: 8px;
    }
    .brandsbackgroundone h4{
        font-size:10px ;
        padding: 0px 0px;
    }
    .starreview ,.brandcolor{
        height: 10px;
        width: 50px;
        padding: 0px 0px;
    }
    .brandsflexone{
        justify-content: space-evenly;
    }
    .buttonsec{
        padding: 0px 0px;
    }
    .btnone,.btntwo,.btnthree{
        height: 10px;
        width: 10px;
    }
    .brandsbackgroundtwo h2{
        font-size: 15px;
    }
    .brandsubflextwo{
        padding: 0px;
        gap: 0px;
    }
    .brandsbackgroundtwo p{
        font-size: 10px;
    }
    .brandsbackgroundtwo h4{
        font-size:10px ;
        padding: 0px 20px;
    }
    .brandsflextwo{
        justify-content: space-evenly;
        padding: 0px ;
    }
    .btnonesecond,.btntwosecond,.btnthreesecond{
        height: 10px;
        width: 10px;
    }
    .brandsbackgroundthree h2{
        font-size: 15px;
    }
    .brandsubflexthree{
        padding: 0px;
        gap: 0px;
    }
    .brandsbackgroundthree p{
        font-size: 10px;
    }
    .brandsbackgroundthree h4{
        font-size:10px ;
        padding: 0px 20px;
    }
    
    .brandsflexthree{
        justify-content: space-evenly;
    }
    .brandscontentthree h2{
        font-size: 12px;        
    }
    .btnonethird,.btntwothird,.btnthreethird{
        height: 10px;
        width: 10px;
    }
    .brandsbackgroundtwo h2{
        font-size: 12px;
    }
    .brandsubflexfour{
        padding: 0px;
        gap: 0px;
    }
    .brandsflexfour{
        justify-content: space-evenly;
        padding: 0px;
    }
    .brandsbackgroundfour h4{
        font-size:10px ;
        padding: 0px 20px;
    }
    .btnonefour,.btntwofour,.btnthreefour{
        height: 10px;
        width: 10px;
    }
    .brandsabout{
        height: 200px;
    }
    .brandslogoheading h1{
        padding: 20px 0px;
        font-size:16px;
    }
    .logoflexone ,.logoflextwo{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-evenly;
    }
    .logoflexone img ,.logoflextwo img{
        height: 70px;
        width: 100px;
    }
    .logoflexone p ,.logoflextwo p{
        font-size: 8px;
    }
    .servicesmainflex img{
        height: 30px;
        width: 30px;
    }
    .servicesmainflex p{
        font-size: 8px;    
    }
    .servicesmainflex{
        padding: 20px;
    }
      .footerpart{
        display: block;
        padding: 20px;
    }
    .footersection{
        height: auto;
    }
    .footerpart h3{
        margin: 0px;
        padding-top: 20px;
        font-size: 12px;
    }
    .footerpart ul li{
        font-size:8px;
    }
    .footerparttwo{
        display: block;
        padding: 0px;
    }
    .socialicon{
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
    .footerparttwo p{
        font-size: 12px;
        text-align: center;
    }
}


@media only screen and (min-width:1367px){
    .searchicon{
        margin-right: -350px;
    }
    .brandsabout{
        height: 55rem;
    }
}