@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500&family=Jost:wght@500;600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@500;600&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 95%;
    margin: auto;
}
.headersection{
    background-color: #343434;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 9;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li{
    list-style-type: none;
    padding:26px 50px 26px 25px;
}
.navbar ul{
    display:flex;
    justify-content: space-between;
    justify-content: center;
    font-family:inter;
    font-size: 15px;
}
.headermenu{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 14px;
}
.searchbox{
    background-color:white;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: none;
    outline-style: none;
    color: black;
    padding-left: 15px;
}

.searchicon,.carticon{
    padding-top: 25px;
}
.bannerimage{
    background-image: url(assets/images/bannerimage.png);
    background-size: cover;
    background-position:center;
    width: 100%;
    height:800px;    
}
.bannercontent{
    background-color: #353535;
    opacity: 80%;
    width: 350px;
    height: 250px;
    position: absolute;
    top: 420px;
    right: 150px;
}
.bannercontent{
    animation-name: slidinganimation;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 2;
}
@keyframes slidinganimation{
    from{
        right: 0px;        
    }
    to{
        right: 150px;
    }
}
.bannercontent h1{
    color: white;
    font-family:bebas neue;
    font-weight:lighter;
    font-size:45px;
    text-align: center;
    padding-top: 65px;
}
.bannercontent select{
    border: 2px solid white;
    border-radius: 8px;
    background-color: #343434;
    color: white;
    padding: 8px 10px 8px 20px;
    width: 75%;
    margin-left: 45px;
    font-size: 12px;
    outline-style: none;    
}
.cartheading h1{
    text-align: center;
    font-family: bebas neue;
    font-size: 45px;
    font-weight: lighter;   
    padding: 20px 0px; 
}
.cartmainflex{
    display: flex;
    justify-content: center;
    padding: 0px 0px 35px 0px;
}
.optionone{
    background: rgba(15, 15, 15, 0.62);
    width: 650px;
    height:500px ;
}
.optionone h3{
    font-family: inter;
    font-size: 25px;
    margin: 50px 0px 20px 40px;  
    color: white;  
}
.brandoption {
    padding: 10px 20px 10px 10px;
    width: 85%;
    border-radius: 10px;
    outline-style: none;
    margin: 0px 0px 0px 40px;
}
.locationoption{
    padding: 10px 20px 10px 10px;
    width: 85%;
    border-radius: 10px;
    outline-style: none;
    margin: 0px 0px 0px 40px;
}
.cartbutton{
    border-radius: 20px;
    padding: 15px 20px 15px 10px;
    width: 65%;
    border: none;
    cursor: pointer;
    margin: 60px 0px 20px 100px;
}
.cartbutton:hover{
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
}
.footersection{
    background-color: #343434;
    width: 100%;
    height: 300px;
}
.footerpart{
    display: flex;
    justify-content: space-between;
    color: white;    
}
.footerpart h3{
    font-family: inter;
    font-size:19px;
    font-weight: normal;
    margin-top: 40px;
}
.footerpart ul li{
    list-style-type: none;
    font-family: inter;
    font-size:15px;
    font-weight: normal;
    margin-top: 15px;
}
.footerfour ul li img{
    position: relative;
    top: 4px;
}
.footerparttwo p{
    font-family: inter;
    font-size:15px;
    font-weight: normal;    
    color: white;    
}
.footerparttwo{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;   
}
.socialicon{
    display: flex;
    gap: 24px;
}

/* Responsive */

@media screen and (max-width:575px){
    .main{
        overflow: hidden;
    }
    .headermenu{
        display: flex;
        justify-content: space-evenly;
    }
    .headersection{
        height: auto;
    }
    .logo{
        width: 50px;
    }
    .navbar ul{
        display: flex;
    }
    .navbar ul li{
        display: block;
        padding: 10px 5px;
    }
    .navbar ul li a{
        font-size: 8px;
    }
    .underline{
        display: none;
    }
    
    .searchicon{
       display: none;
    }
    .carticon{
        display: none;
    }
    .bannerimage{
        height: 237px;
        width: 100%;
    }
    .bannercontent h1{
        font-size: 20px;
        padding-top: 10px;
    }
    .bannercontent select{
        width: 78%;
        padding: 5px;
        margin-left: 18px;
        border: 1px solid white;
        border-radius: 3px;
        font-size: 6px;
    }
    .bannercontent{
        width: 150px;
        height: 80px;
        position: absolute;
        top: 129px;
        right: 46px;
    }
    @keyframes slidinganimation{
        0% {
            right: 0px;
        }
        100% {
            right: 50px;
        }
    }
    
    .cartheading h1{
        font-size: 16px;
        text-align: center;
    }
    .cartmainflex{
        display: block;
        padding: 0px 0px 20px 0px;
    }
    .cartimage img{
        height: 300px;
        width: 100%;
    }
    .optionone{
        height: auto;
        width: 100%;
    }
    .optionone h3{
        font-size: 10px;
        padding: 20px 0px 0px 20px;
        margin: 0px;
    }
    .brandoption{
        margin: 20px 20px;
        width: 90%;
    }
    .locationoption{
        margin: 20px 20px;
        width: 90%; 
    }
    .cartbutton{
        margin: 20px 0px 20px 100px;
        padding: 5px;
        width: 38%;
        font-size: 8px;
    }
    

    .footerpart{
        display: block;
        padding: 20px;
    }
    .footersection{
        height: auto;
    }
    .footerpart h3{
        margin: 0px;
        padding-top: 20px;
        font-size: 15px;
    }
    .footerpart ul li{
        font-size: 13px;
    }
    .footerparttwo{
        display: block;
        padding: 0px;
    }
    .socialicon{
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
    .footerparttwo p{
        text-align: center;
    }
}

@media only screen and (min-width:1367px){
    .searchicon{
        margin-right: -350px;
    }
}